
body, #root {
    font-family: "Arial", sans-serif;
    background: #de6bf3 !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.home-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.link {
    display: block;
    background-color: #620772;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.link:hover {
    background-color: #de6bf3;
    color: white; 
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
